{% extends 'base.html' %} {% block title %} About {% endblock %} {% block
content %}

<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-8">
        <div class="title-block">
          <h1>Who are Brighter Education</h1>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="#">Home</a>
            </li>
            <li class="list-inline-item">/</li>
            <li class="list-inline-item">About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Feature section start -->
<section class="features pt-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xl-3 col-sm-6">
        <div class="feature-item">
          <div class="feature-icon">
            <i class="flaticon-flag"></i>
          </div>
          <div class="feature-text">
            <h4>Expert Teacher</h4>
            <p>
              We have extremely reliable teachers who provide quality content
              for secondary school students.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xl-3 col-sm-6">
        <div class="feature-item">
          <div class="feature-icon">
            <i class="flaticon-layers"></i>
          </div>
          <div class="feature-text">
            <h4>Self Development</h4>
            <p>
              It focuses on self centered leearning where students are able to
              learn at their on pace and understand.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xl-3 col-sm-6">
        <div class="feature-item">
          <div class="feature-icon">
            <i class="flaticon-video-camera"></i>
          </div>
          <div class="feature-text">
            <h4>Remote Learning</h4>
            <p>
              Develop skills for career of various majors including language
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xl-3 col-sm-6">
        <div class="feature-item">
          <div class="feature-icon">
            <i class="flaticon-help"></i>
          </div>
          <div class="feature-text">
            <h4>Life Time Support</h4>
            <p>
              Develop skills for career of various majors including language
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature section End -->
<!-- About Section Start -->
<section class="about-section section-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6">
        <div class="video-block">
          <img
            src="{{ url_for('static', filename='assets/images/bg/about.jpg') }}"
            alt=""
            class="img-fluid"
          />
          <a href="#" class="video-icon"><i class="fa fa-play"></i></a>
        </div>
      </div>

      <div class="col-xl-6 pl-5 col-lg-6">
        <div class="section-heading mt-4 mt-lg-0">
          <span class="subheading">Self Centered Learning Course</span>
          <h3>Get Instant Access To <span> Quality Online Education</span></h3>
          <p>
            Unlocking Potential, Empowering Success: Experience Excellence in Online Learning
          </p>
        </div>
        <ul class="about-features">
          <li>
            <i class="fa fa-check"></i>
            <h5>High Quality Video Details</h5>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <h5>Powerful Audiance</h5>
          </li>
          <li>
            <i class="fa fa-check"></i>
            <h5>Premium Content Worldwide</h5>
          </li>
        </ul>

        <a href="#" class="btn btn-main">Our Courses</a>
      </div>
    </div>
  </div>
</section>
<!-- About Section END -->
<!-- COunter Section start -->
<section class="counter-block">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 bg-black counter-inner">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-item text-center">
              <i class="flaticon-video-camera"></i>
              <div class="count">
                <span class="counter">20</span>
              </div>
              <h6>Instructors</h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-item text-center">
              <i class="flaticon-layers"></i>
              <div class="count">
                <span class="counter">15</span>
              </div>
              <h6>Total Courses</h6>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-item text-center">
              <i class="flaticon-flag"></i>
              <div class="count">
                <span class="counter">60</span>
              </div>
              <h6>Registered students</h6>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter-item text-center border-0">
              <i class="flaticon-help"></i>
              <div class="count"><span class="counter">80</span>%</div>
              <h6>Satisfaction rate</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- COunter Section End -->

<!-- Team section start -->
<section class="team pt-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-xl-7">
        <div class="section-heading center-heading">
          <span class="subheading">Best Expert Team</span>
         
</section>
<!-- Team section End -->
<!-- Testimonial section start -->
<section class="testimonial-2 section-padding">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-xl-5 mr-auto">
        <div class="section-heading">
          
          </p>
        </div>
      </div>

      <!-- Testimonial section End -->
      <!-- CTA Sidebar start -->
      <section class="cta bg-gray section-padding">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
              <div class="section-heading center-heading mb-0">
                <span class="subheading">be a instructor</span>
                <h3>Want to Become an Instructor ?</h3>
                <p class="mb-4">
                  Join millions of people from around the world learning
                  together. Online learning is as easy and natural as chatting.
                </p>
                <a href="#" class="btn btn-main">Become Instructor</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- CTA Sidebar end -->
      {% endblock %}
    </div>
  </div>
</section>
